:root {
  --red-400: #E45858;
  --purple-700: #6246EA;
  --gray-300: #7C7C8A;
  --gray-100: #EAEAEA;
  --black-900: #121214;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  display: flex;
  justify-content: center;

  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span,
input::placeholder,
select {
  color: var(--gray-300);
}

.app {
  width: 100vw;
  height: 100vh;

  display: grid;
  gap: 100px;

  // background-image: linear-gradient(90deg, red 25%, green 25%, #fff 50%, #6246EA 50%, blue 75%, pink 75%, aqua 100%);
  // background-size: 104px 140px;

  // background-image: linear-gradient(90deg, #B2A2CD 33.33%, #ffffff 33.33%, #ffffff 50%, #B2A2CD 50%, #B2A2CD 83.33%, #ffffff 83.33%, #ffffff 100%);
  // background-size: 120.00px 120.00px;

  background-image: repeating-linear-gradient(90deg,
      #fff 0em,
      #fff 6em,
      var(--purple-700) 2em,
      var(--purple-700) 12em,
      #fff 0em,
      #fff 9em);

  font-family: 'Roboto', sans-serif;

  section {
    display: grid;
    gap: 40px;

    padding: 0 112px 100px;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      h2 {
        font-size: 32px;
        font-weight: bold;
      }

      div {
        border: 1px solid gray;
        border-radius: 6px;

        padding: 8px;

        button {
          border: 0;
          outline: none;
          cursor: pointer;
          border-radius: 5px;
          background: transparent;

          padding: 4px 24px;
        }
      }
    }

    #card-container {
      strong {
        font-size: 20px;
      }

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 32px;
    }
  }
}