header {
  // margin: 100px auto
  //   /* 223px */
  // ;

  padding: 100px 223px;

  // background-color: #F8F8FF;
  background: rgba($color: #F8F8FF, $alpha: 0.7);
  // opacity: .8;

  min-height: 53.2rem;

  display: flex;
  flex-direction: column;
  position: relative;

  text-align: center;

  span {
    margin-bottom: 18px;
    color: var(--red-400);
  }

  h1 {
    margin-bottom: 40px;

    font-size: 48px;
    font-weight: bold;

    span {
      color: var(--purple-700);
    }
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;

    padding: 40px;
    gap: 24px;

    border: 1px solid var(--gray-100);
    border-radius: 10px;

    background-color: rgba($color: #fff, $alpha: 0.5);

    // position: relative;

    .sr-only {
      /* faz um elemento "sumir da tela mas mantêm a acessibilidade" */
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    .input-container {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: center;
      justify-content: start;

      background-color: #F8F8FF;
    }

    i {
      // height: 20px;
      // width: 20px;
      font-size: 20px;
      color: var(--red-400);

      // position: absolute;

      // margin-left: 6px;
      // margin-right: 12px;
    }

    input,
    select {
      padding: 12px 8px;
      border: none;
      border-radius: 5px;
      // background: transparent;
    }

    button {
      padding: 12px 32px;

      border: 0;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

header::before {
  content: '';
  background-image: url(../../assets/ilustra-01.svg);
  width: 40.7rem;
  height: 34.5rem;

  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  /* tudo que  "trasbordar"/passar da altura da "caixa" será "escondido" */
}

header::after {
  content: "";
  background-image: url(../../assets/ilustra-02.svg);
  width: 41.4rem;
  height: 33rem;

  position: absolute;
  right: 0;
  bottom: -1.2rem;
}